<div class="PortfolioItem">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <figure class="PortfolioItem__graphic {{ graphic_class }}"></figure>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="PortfolioItem__content">
        <h5 class="PortfolioItem__context">{{year}} · {{role}} · {{company}}</h5>
        <h3 class="PortfolioItem__title">{{title}}</h3>
        <p class="PortfolioItem__snippet">{{snippet}}</p>
        <a href="{{ study_url }}" class="Button PortfolioItem__cta">
          {{# if cta_text }}
            {{ cta_text }}
          {{else}}
            Read the case study ->
          {{/if}}
        </a>
      </div>
    </div>
  </div>
</div>
