{{!< default}}

<div class="row center-xs text-left">
  <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-4">
    <article class="Post {{post_class}}">
      {{#post}}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:url" content="{{url absolute='true'}}" />
        <meta name="twitter:description" content="{{excerpt words=40}}..." />

        <header class="Post__header">
          <h1 class="Post__title">{{title}}</h1>
        </header>

        <section class="Post__content">
          {{content}}
        </section>

        <footer class="Post__footer">
          <a href="/">&larr; Go back home</a>
        </footer>
      {{/post}}
    </article>
  </div>
</div>
